* {
    box-sizing:border-box;
}
#sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
}
.box {
    min-width: 187.5px;
    min-height: 187.5x;
    border: 2px solid black;
    flex-grow: 1;
    background-color: white;
}