* {
    box-sizing:border-box;
}
#sketch-container {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
}
.box {
    min-width: calc(750px/16);
    min-height: calc(750px/16);
    border: 2px solid black;
    flex-grow: 1;
    background-color: white;
}
.box-black {
    min-width: calc(750px/16);
    min-height: calc(750px/16);
    border: 2px solid black;
    flex-grow: 1;
    background-color: black;
}